.button-container {
    margin-top: 39px;
    border-radius: 3px;
    background-color: #7AB54B;
 color:white;
    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    padding: 8px 13px 8px 16px;
    display: flex;
    justify-content: space-evenly;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    h6 {
        margin: 0px;
        padding-top: 3px;
        padding-right: 15px;
    }
}