//General
$minWidthSize: 1000px;
$appBackgroundColor: #F6FFF1;
$appFontColor: #FFBD5A;

//Bowl
$bowlColor: #FF9C06;
$foodColor: #6B613C;

//Monitor
$monitorColor: #535A4E;
$screenHeightRatio: 80%;
$screenWidthRatio: 95%;
$screenHeightRatio: 80%;
$screenWidthRatio: 95%;

//Table
$tableColor: #D0C59F;

//Turtle
$upperShellColor: #6DAA3E;
$lowerShellColor: #456D26;
$skinColor: wheat;
