.navbarContainer {
    background-color: white;
    margin-bottom: 0px;


    img {
        width: 80px;
        margin: 17px;
        margin-left: 25px;
        margin-bottom: 12px;

    }
    hr {
    border: 2px solid #FF9C06;
    // width: 1440px;
    margin: 0px;
    }

}


