.navbarContainer {
    background-color: white;
    margin-bottom: 0px;
    height: 50px;
     border-bottom: 4px solid #FF9C06;

    img {
        width: 80px;
        margin: 17px;
        margin-left: 25px;
        margin-bottom: 12px;

    }
   

}


