@import './config/_vars';
@import './config/_global';

.App {
  @media(max-width: $minWidthSize) {
    .body {
      display: none;
    }

  }
  @media(min-width: calc(#{$minWidthSize} + 1px)) {
    .smallScreen {
      display: none;
    }
  }

  background-color: $appBackgroundColor;
  font-size: 24px;
  line-height: 33px;
  color: #535A4E;
  min-height: 100vh;

  .body {
    position: relative;
  }

  .buy {
    color: $appFontColor;
    font-weight: bold;
    font-size: 55px;
    text-align: center;
    margin-top: 80px;
  }
}
