.clockContainer {
  width: 100%;
  border-radius: 50%;
  border: 8px solid #FF9C06;;
  height: 100%;
  min-height: 125px;
  min-width: 125px;

  .timeContainer {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .time {
    text-align: center;
    font-size: 25px;
  }
}
